@model MinerShop.Models.Category[]

@{
    ViewBag.Title = "Категории";
}

<h2>Категории</h2>
<a asp-action="AddCategory">Добавить категорию</a>
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Название</td>
            <td>Изображение</td>
            <td>Действие</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <img class="admin-products-img" src="@category.Img"/>
                </td>
                <td class="btn-group-vertical">
                    <a class="btn btn-primary" asp-action="EditCategory" asp-controller="Admin" asp-route-categoryId="@category.Id">Изменить</a>
                    <a class="btn btn-success mt-2" asp-action="DetailCategory" asp-controller="Admin" asp-route-categoryId="@category.Id">Подробнее</a>
                </td>
            </tr>
        }
    </tbody>
</table>
